.content-type-3-041 {
	grid-area: 5 / 1 / 6 / span 4;
	margin: var(--spacing-extra-small) 0 0 0;
	margin-block: var(--spacing-extra-small) 0;
}

.content-type-3-042 {
	grid-area: 5 / 2 / 6 / 3;
}

.content-type-3-043 {
	grid-area: 5 / 3 / 6 / 4;
}

.content-type-3-044 {
	grid-area: 5 / 4 / 6 / 5;
}

.content-type-3-062 {
	grid-area: 7 / 2 / 8 / span 4;
	margin: 0 var(--spacing-extra-small) 0 0;
	margin-inline: 0 var(--spacing-extra-small);
}

.content-type-3-063 {
	grid-area: 7 / 3 / 8 / 4;
}

.content-type-3-064 {
	grid-area: 7 / 4 / 8 / 5;
}

.content-type-3-065 {
	grid-area: 7 / 5 / 8 / 6;
}

.content-type-3-094 {
	grid-area: 10 / 4 / 11 / span 3;
}

.content-type-3-095 {
	grid-area: 10 / 5 / 11 / 6;
}

.content-type-3-096 {
	grid-area: 10 / 6 / 11 / 7;
}