:root {
  /* Fonts */

    /* Families */
    --font-primary: 'Josefin Sans', sans-serif;
    --font-secondary: 'Quicksand', sans-serif;

    /* Sizes */

    /* 1rem */
    --font-base: 16px;

    --font-heading-1: 3rem;
    --font-heading-2: 2.5rem;
    --font-heading-3: 2rem;
    --font-paragraph: 1rem;

    /* Weights */

    /**
    * Regular = Normal = 400
    * Medium = 500
    * SemiBold = 600
    * Bold = 700
    */
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* Styles */
    --font-regular: normal;
    --font-italic: italic;

  /* Colors */
  --color-primary-1: #C20000;
  --color-primary-2: #231EC0;
  --color-primary-3: #E6B500;
  --color-secondary-1: #000000;
  --color-secondary-2: #FFFFFF;

  /* Layout */

		/* Base */

    /* A4 96DPI */
    --base-width: 794px;
    --base-height: 1123px;

    /* Grids */

      /* Grid Columns */
			--grid-columns: 20;

      /* Grid Rows */
      --grid-rows: 20;

      /* Grid Containers */
      --grid-container: repeat(var(--grid-columns), 1fr) / repeat(var(--grid-rows), 1fr);

      /* Grid Elements */
      --grid-element-width: calc(var(--base-width) / var(--grid-columns));
      --grid-element-height: calc(var(--base-height) / var(--grid-rows));

    /* Spacing */
    --spacing-extra-large: 2rem;
    --spacing-large: 1.5rem;
    --spacing-normal: 1rem;
    --spacing-small: 0.5rem;
    --spacing-extra-small: 0.25rem;

    /* Borders */
    --border: solid var(--spacing-extra-small) var(--color-secondary-1);

    /* Z-index */
    --level-1-1: 1;
    --level-1-2: 2;
}