body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
main {
  width: 794px;
  height: 1123px;
  padding: 64px;
  display: grid;
  grid-template-rows: 10% 30% 45% 15%;
  grid-template-columns: 60% 40%;
  font-size: 32px;
}
h1,
h6 {
  margin: 0;
}
h3,
p {
  margin: 0;
  margin-bottom: 0.5em;
}
p {
  font-size: 0.625em;
}
.information {
  grid-column: 1 / 3;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 20% 40% 40%;
}
.contact {
  text-align: right;
  align-self: center;
}
.social {
  text-align: right;
}
.skills {
  margin-top: 0.75em;
  grid-column: 1 / 3;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 60% 40%;
}
.excerpt {
  margin-right: 1em;
}
.knowledge {
  margin-left: 0.5em;
}
.experience {
  margin-top: 0.75em;
  grid-column: 1 / 3;
  display: grid;
  grid-template-rows: 15% 40% 35%;
  grid-template-columns: 50% 50%;
}
.job-title {
  grid-column: 1 / 3;
  margin-bottom: 1em;
}
.job:nth-of-type(2n) {
  margin-right: 1em;
}
.qualifications {
  margin-top: 0.75em;
  grid-column: 1 / 3;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 45% 25% 30%;
}
.languages,
.courses {
  text-align: right;
}
