body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  font-family: 'Lato', sans-serif; }

a {
  text-decoration: none;
  cursor: pointer; }

button {
  width: 96px;
  height: 48px;
  border: 0;
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

.background.base.black {
  background: #000000; }

.background.base.white {
  background: #FFFFFF; }

.background.base.purple {
  background: #3D0046; }

.background.base.yellow {
  background: #D97F11; }

.background.base.turquoise {
  background: #168C8C; }

.background.base.green {
  background: #09470B; }

.background.shade.black-shade-1 {
  background: black; }

.background.shade.black-shade-2 {
  background: black; }

.background.shade.black-shade-3 {
  background: black; }

.background.shade.black-shade-4 {
  background: black; }

.background.shade.black-shade-5 {
  background: black; }

.background.shade.white-shade-1 {
  background: #bfbfbf; }

.background.shade.white-shade-2 {
  background: #cccccc; }

.background.shade.white-shade-3 {
  background: #d9d9d9; }

.background.shade.white-shade-4 {
  background: #e6e6e6; }

.background.shade.white-shade-5 {
  background: #f2f2f2; }

.background.shade.purple-shade-1 {
  background: black; }

.background.shade.purple-shade-2 {
  background: black; }

.background.shade.purple-shade-3 {
  background: black; }

.background.shade.purple-shade-4 {
  background: #110013; }

.background.shade.purple-shade-5 {
  background: #27002d; }

.background.shade.yellow-shade-1 {
  background: #633a08; }

.background.shade.yellow-shade-2 {
  background: #7a480a; }

.background.shade.yellow-shade-3 {
  background: #92550b; }

.background.shade.yellow-shade-4 {
  background: #aa630d; }

.background.shade.yellow-shade-5 {
  background: #c1710f; }

.background.shade.turquoise-shade-1 {
  background: #051e1e; }

.background.shade.turquoise-shade-2 {
  background: #083434; }

.background.shade.turquoise-shade-3 {
  background: #0c4a4a; }

.background.shade.turquoise-shade-4 {
  background: #0f6060; }

.background.shade.turquoise-shade-5 {
  background: #137676; }

.background.shade.green-shade-1 {
  background: black; }

.background.shade.green-shade-2 {
  background: black; }

.background.shade.green-shade-3 {
  background: #000300; }

.background.shade.green-shade-4 {
  background: #031a04; }

.background.shade.green-shade-5 {
  background: #063007; }

.background.tint.black-tint-1 {
  background: #0d0d0d; }

.background.tint.black-tint-2 {
  background: #1a1a1a; }

.background.tint.black-tint-3 {
  background: #262626; }

.background.tint.black-tint-4 {
  background: #333333; }

.background.tint.black-tint-5 {
  background: #404040; }

.background.tint.white-tint-1 {
  background: white; }

.background.tint.white-tint-2 {
  background: white; }

.background.tint.white-tint-3 {
  background: white; }

.background.tint.white-tint-4 {
  background: white; }

.background.tint.white-tint-5 {
  background: white; }

.background.tint.purple-tint-1 {
  background: #530060; }

.background.tint.purple-tint-2 {
  background: #690079; }

.background.tint.purple-tint-3 {
  background: #800093; }

.background.tint.purple-tint-4 {
  background: #9600ac; }

.background.tint.purple-tint-5 {
  background: #ac00c6; }

.background.tint.yellow-tint-1 {
  background: #ed8c17; }

.background.tint.yellow-tint-2 {
  background: #ef982e; }

.background.tint.yellow-tint-3 {
  background: #f1a446; }

.background.tint.yellow-tint-4 {
  background: #f2af5e; }

.background.tint.yellow-tint-5 {
  background: #f4bb75; }

.background.tint.turquoise-tint-1 {
  background: #19a2a2; }

.background.tint.turquoise-tint-2 {
  background: #1db8b8; }

.background.tint.turquoise-tint-3 {
  background: #20cece; }

.background.tint.turquoise-tint-4 {
  background: #2adede; }

.background.tint.turquoise-tint-5 {
  background: #40e1e1; }

.background.tint.green-tint-1 {
  background: #0c5e0f; }

.background.tint.green-tint-2 {
  background: #0f7412; }

.background.tint.green-tint-3 {
  background: #128b16; }

.background.tint.green-tint-4 {
  background: #14a219; }

.background.tint.green-tint-5 {
  background: #17b81d; }

.color.base.black {
  color: #000000; }

.color.base.white {
  color: #FFFFFF; }

.color.base.purple {
  color: #3D0046; }

.color.base.yellow {
  color: #D97F11; }

.color.base.turquoise {
  color: #168C8C; }

.color.base.green {
  color: #09470B; }

.color.shade.black-shade-1 {
  color: black; }

.color.shade.black-shade-2 {
  color: black; }

.color.shade.black-shade-3 {
  color: black; }

.color.shade.black-shade-4 {
  color: black; }

.color.shade.black-shade-5 {
  color: black; }

.color.shade.white-shade-1 {
  color: #bfbfbf; }

.color.shade.white-shade-2 {
  color: #cccccc; }

.color.shade.white-shade-3 {
  color: #d9d9d9; }

.color.shade.white-shade-4 {
  color: #e6e6e6; }

.color.shade.white-shade-5 {
  color: #f2f2f2; }

.color.shade.purple-shade-1 {
  color: black; }

.color.shade.purple-shade-2 {
  color: black; }

.color.shade.purple-shade-3 {
  color: black; }

.color.shade.purple-shade-4 {
  color: #110013; }

.color.shade.purple-shade-5 {
  color: #27002d; }

.color.shade.yellow-shade-1 {
  color: #633a08; }

.color.shade.yellow-shade-2 {
  color: #7a480a; }

.color.shade.yellow-shade-3 {
  color: #92550b; }

.color.shade.yellow-shade-4 {
  color: #aa630d; }

.color.shade.yellow-shade-5 {
  color: #c1710f; }

.color.shade.turquoise-shade-1 {
  color: #051e1e; }

.color.shade.turquoise-shade-2 {
  color: #083434; }

.color.shade.turquoise-shade-3 {
  color: #0c4a4a; }

.color.shade.turquoise-shade-4 {
  color: #0f6060; }

.color.shade.turquoise-shade-5 {
  color: #137676; }

.color.shade.green-shade-1 {
  color: black; }

.color.shade.green-shade-2 {
  color: black; }

.color.shade.green-shade-3 {
  color: #000300; }

.color.shade.green-shade-4 {
  color: #031a04; }

.color.shade.green-shade-5 {
  color: #063007; }

.color.tint.black-tint-1 {
  color: #0d0d0d; }

.color.tint.black-tint-2 {
  color: #1a1a1a; }

.color.tint.black-tint-3 {
  color: #262626; }

.color.tint.black-tint-4 {
  color: #333333; }

.color.tint.black-tint-5 {
  color: #404040; }

.color.tint.white-tint-1 {
  color: white; }

.color.tint.white-tint-2 {
  color: white; }

.color.tint.white-tint-3 {
  color: white; }

.color.tint.white-tint-4 {
  color: white; }

.color.tint.white-tint-5 {
  color: white; }

.color.tint.purple-tint-1 {
  color: #530060; }

.color.tint.purple-tint-2 {
  color: #690079; }

.color.tint.purple-tint-3 {
  color: #800093; }

.color.tint.purple-tint-4 {
  color: #9600ac; }

.color.tint.purple-tint-5 {
  color: #ac00c6; }

.color.tint.yellow-tint-1 {
  color: #ed8c17; }

.color.tint.yellow-tint-2 {
  color: #ef982e; }

.color.tint.yellow-tint-3 {
  color: #f1a446; }

.color.tint.yellow-tint-4 {
  color: #f2af5e; }

.color.tint.yellow-tint-5 {
  color: #f4bb75; }

.color.tint.turquoise-tint-1 {
  color: #19a2a2; }

.color.tint.turquoise-tint-2 {
  color: #1db8b8; }

.color.tint.turquoise-tint-3 {
  color: #20cece; }

.color.tint.turquoise-tint-4 {
  color: #2adede; }

.color.tint.turquoise-tint-5 {
  color: #40e1e1; }

.color.tint.green-tint-1 {
  color: #0c5e0f; }

.color.tint.green-tint-2 {
  color: #0f7412; }

.color.tint.green-tint-3 {
  color: #128b16; }

.color.tint.green-tint-4 {
  color: #14a219; }

.color.tint.green-tint-5 {
  color: #17b81d; }

.border-color.base.black {
  border-color: #000000; }

.border-color.base.white {
  border-color: #FFFFFF; }

.border-color.base.purple {
  border-color: #3D0046; }

.border-color.base.yellow {
  border-color: #D97F11; }

.border-color.base.turquoise {
  border-color: #168C8C; }

.border-color.base.green {
  border-color: #09470B; }

.border-color.shade.black-shade-1 {
  border-color: black; }

.border-color.shade.black-shade-2 {
  border-color: black; }

.border-color.shade.black-shade-3 {
  border-color: black; }

.border-color.shade.black-shade-4 {
  border-color: black; }

.border-color.shade.black-shade-5 {
  border-color: black; }

.border-color.shade.white-shade-1 {
  border-color: #bfbfbf; }

.border-color.shade.white-shade-2 {
  border-color: #cccccc; }

.border-color.shade.white-shade-3 {
  border-color: #d9d9d9; }

.border-color.shade.white-shade-4 {
  border-color: #e6e6e6; }

.border-color.shade.white-shade-5 {
  border-color: #f2f2f2; }

.border-color.shade.purple-shade-1 {
  border-color: black; }

.border-color.shade.purple-shade-2 {
  border-color: black; }

.border-color.shade.purple-shade-3 {
  border-color: black; }

.border-color.shade.purple-shade-4 {
  border-color: #110013; }

.border-color.shade.purple-shade-5 {
  border-color: #27002d; }

.border-color.shade.yellow-shade-1 {
  border-color: #633a08; }

.border-color.shade.yellow-shade-2 {
  border-color: #7a480a; }

.border-color.shade.yellow-shade-3 {
  border-color: #92550b; }

.border-color.shade.yellow-shade-4 {
  border-color: #aa630d; }

.border-color.shade.yellow-shade-5 {
  border-color: #c1710f; }

.border-color.shade.turquoise-shade-1 {
  border-color: #051e1e; }

.border-color.shade.turquoise-shade-2 {
  border-color: #083434; }

.border-color.shade.turquoise-shade-3 {
  border-color: #0c4a4a; }

.border-color.shade.turquoise-shade-4 {
  border-color: #0f6060; }

.border-color.shade.turquoise-shade-5 {
  border-color: #137676; }

.border-color.shade.green-shade-1 {
  border-color: black; }

.border-color.shade.green-shade-2 {
  border-color: black; }

.border-color.shade.green-shade-3 {
  border-color: #000300; }

.border-color.shade.green-shade-4 {
  border-color: #031a04; }

.border-color.shade.green-shade-5 {
  border-color: #063007; }

.border-color.tint.black-tint-1 {
  border-color: #0d0d0d; }

.border-color.tint.black-tint-2 {
  border-color: #1a1a1a; }

.border-color.tint.black-tint-3 {
  border-color: #262626; }

.border-color.tint.black-tint-4 {
  border-color: #333333; }

.border-color.tint.black-tint-5 {
  border-color: #404040; }

.border-color.tint.white-tint-1 {
  border-color: white; }

.border-color.tint.white-tint-2 {
  border-color: white; }

.border-color.tint.white-tint-3 {
  border-color: white; }

.border-color.tint.white-tint-4 {
  border-color: white; }

.border-color.tint.white-tint-5 {
  border-color: white; }

.border-color.tint.purple-tint-1 {
  border-color: #530060; }

.border-color.tint.purple-tint-2 {
  border-color: #690079; }

.border-color.tint.purple-tint-3 {
  border-color: #800093; }

.border-color.tint.purple-tint-4 {
  border-color: #9600ac; }

.border-color.tint.purple-tint-5 {
  border-color: #ac00c6; }

.border-color.tint.yellow-tint-1 {
  border-color: #ed8c17; }

.border-color.tint.yellow-tint-2 {
  border-color: #ef982e; }

.border-color.tint.yellow-tint-3 {
  border-color: #f1a446; }

.border-color.tint.yellow-tint-4 {
  border-color: #f2af5e; }

.border-color.tint.yellow-tint-5 {
  border-color: #f4bb75; }

.border-color.tint.turquoise-tint-1 {
  border-color: #19a2a2; }

.border-color.tint.turquoise-tint-2 {
  border-color: #1db8b8; }

.border-color.tint.turquoise-tint-3 {
  border-color: #20cece; }

.border-color.tint.turquoise-tint-4 {
  border-color: #2adede; }

.border-color.tint.turquoise-tint-5 {
  border-color: #40e1e1; }

.border-color.tint.green-tint-1 {
  border-color: #0c5e0f; }

.border-color.tint.green-tint-2 {
  border-color: #0f7412; }

.border-color.tint.green-tint-3 {
  border-color: #128b16; }

.border-color.tint.green-tint-4 {
  border-color: #14a219; }

.border-color.tint.green-tint-5 {
  border-color: #17b81d; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.75rem; }

h6 {
  font-size: 0.625rem; }

p {
  font-size: 1rem; }

a {
  font-size: 1rem; }

.normal {
  font-style: normal; }

.italic {
  font-style: italic; }

.lighter {
  font-weight: lighter; }

.normal {
  font-weight: normal; }

.bold {
  font-weight: bold; }

.bolder {
  font-weight: bolder; }

.button.primary {
  background: #000000;
  color: #D97F11;
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out; }
  .button.primary:hover, .button.primary:focus {
    background: #000000;
    color: #D97F11; }

.button.secondary {
  background: #D97F11;
  color: #000000;
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out; }
  .button.secondary:hover, .button.secondary:focus {
    background: #D97F11;
    color: #000000; }

.link.primary {
  color: #000000;
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out; }
  .link.primary:hover, .link.primary:focus {
    color: #D97F11; }
  .link.primary:visited {
    color: #000000;
    -webkit-transition: 0.25s all ease-in-out;
    transition: 0.25s all ease-in-out; }
    .link.primary:visited:hover {
      color: #D97F11; }

.link.secondary {
  color: #D97F11;
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out; }
  .link.secondary:hover, .link.secondary:focus {
    color: #000000; }
  .link.secondary:visited {
    color: #000000;
    -webkit-transition: 0.25s all ease-in-out;
    transition: 0.25s all ease-in-out; }
    .link.secondary:visited:hover {
      color: #000000; }

.image {
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=scss/maps/index.css.map */
