body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  font-family: 'Lato', sans-serif; }

a {
  text-decoration: none;
  cursor: pointer; }

button {
  width: 96px;
  height: 48px;
  border: 0;
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

h4,
p,
a {
  font-size: 1rem; }

h5 {
  font-size: 0.875rem; }

h6 {
  font-size: 0.75rem; }

.regular {
  font-style: normal; }

.italic {
  font-style: italic; }

.bold {
  font-weight: bold; }

.colors .black span:nth-of-type(1) {
  background: black; }

.colors .black span:nth-of-type(2) {
  background: black; }

.colors .black span:nth-of-type(3) {
  background: black; }

.colors .black span:nth-of-type(4) {
  background: black; }

.colors .black span:nth-of-type(5) {
  background: black; }

.colors .black span:nth-of-type(6) {
  background: #000000; }

.colors .black span:nth-of-type(7) {
  background: #0d0d0d; }

.colors .black span:nth-of-type(8) {
  background: #1a1a1a; }

.colors .black span:nth-of-type(9) {
  background: #262626; }

.colors .black span:nth-of-type(10) {
  background: #333333; }

.colors .black span:nth-of-type(11) {
  background: #404040; }

.colors .white span:nth-of-type(1) {
  background: #bfbfbf; }

.colors .white span:nth-of-type(2) {
  background: #cccccc; }

.colors .white span:nth-of-type(3) {
  background: #d9d9d9; }

.colors .white span:nth-of-type(4) {
  background: #e6e6e6; }

.colors .white span:nth-of-type(5) {
  background: #f2f2f2; }

.colors .white span:nth-of-type(6) {
  background: #FFFFFF; }

.colors .white span:nth-of-type(7) {
  background: white; }

.colors .white span:nth-of-type(8) {
  background: white; }

.colors .white span:nth-of-type(9) {
  background: white; }

.colors .white span:nth-of-type(10) {
  background: white; }

.colors .white span:nth-of-type(11) {
  background: white; }

.colors .purple span:nth-of-type(1) {
  background: black; }

.colors .purple span:nth-of-type(2) {
  background: black; }

.colors .purple span:nth-of-type(3) {
  background: black; }

.colors .purple span:nth-of-type(4) {
  background: #110013; }

.colors .purple span:nth-of-type(5) {
  background: #27002d; }

.colors .purple span:nth-of-type(6) {
  background: #3D0046; }

.colors .purple span:nth-of-type(7) {
  background: #530060; }

.colors .purple span:nth-of-type(8) {
  background: #690079; }

.colors .purple span:nth-of-type(9) {
  background: #800093; }

.colors .purple span:nth-of-type(10) {
  background: #9600ac; }

.colors .purple span:nth-of-type(11) {
  background: #ac00c6; }

.colors .yellow span:nth-of-type(1) {
  background: #633a08; }

.colors .yellow span:nth-of-type(2) {
  background: #7a480a; }

.colors .yellow span:nth-of-type(3) {
  background: #92550b; }

.colors .yellow span:nth-of-type(4) {
  background: #aa630d; }

.colors .yellow span:nth-of-type(5) {
  background: #c1710f; }

.colors .yellow span:nth-of-type(6) {
  background: #D97F11; }

.colors .yellow span:nth-of-type(7) {
  background: #ed8c17; }

.colors .yellow span:nth-of-type(8) {
  background: #ef982e; }

.colors .yellow span:nth-of-type(9) {
  background: #f1a446; }

.colors .yellow span:nth-of-type(10) {
  background: #f2af5e; }

.colors .yellow span:nth-of-type(11) {
  background: #f4bb75; }

.colors .turquoise span:nth-of-type(1) {
  background: #051e1e; }

.colors .turquoise span:nth-of-type(2) {
  background: #083434; }

.colors .turquoise span:nth-of-type(3) {
  background: #0c4a4a; }

.colors .turquoise span:nth-of-type(4) {
  background: #0f6060; }

.colors .turquoise span:nth-of-type(5) {
  background: #137676; }

.colors .turquoise span:nth-of-type(6) {
  background: #168C8C; }

.colors .turquoise span:nth-of-type(7) {
  background: #19a2a2; }

.colors .turquoise span:nth-of-type(8) {
  background: #1db8b8; }

.colors .turquoise span:nth-of-type(9) {
  background: #20cece; }

.colors .turquoise span:nth-of-type(10) {
  background: #2adede; }

.colors .turquoise span:nth-of-type(11) {
  background: #40e1e1; }

.colors .green span:nth-of-type(1) {
  background: black; }

.colors .green span:nth-of-type(2) {
  background: black; }

.colors .green span:nth-of-type(3) {
  background: #000300; }

.colors .green span:nth-of-type(4) {
  background: #031a04; }

.colors .green span:nth-of-type(5) {
  background: #063007; }

.colors .green span:nth-of-type(6) {
  background: #09470B; }

.colors .green span:nth-of-type(7) {
  background: #0c5e0f; }

.colors .green span:nth-of-type(8) {
  background: #0f7412; }

.colors .green span:nth-of-type(9) {
  background: #128b16; }

.colors .green span:nth-of-type(10) {
  background: #14a219; }

.colors .green span:nth-of-type(11) {
  background: #17b81d; }

.buttons.primary {
  background: #000000;
  color: #FFFFFF;
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out; }
  .buttons.primary:hover, .buttons.primary:focus {
    background: #404040;
    color: #FFFFFF; }

.buttons.secondary {
  background: #FFFFFF;
  color: #000000;
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out; }
  .buttons.secondary:hover, .buttons.secondary:focus {
    background: #bfbfbf;
    color: #000000; }

.links.primary {
  color: #000000;
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out; }
  .links.primary:hover, .links.primary:focus {
    color: #404040; }
  .links.primary:visited {
    color: #137676;
    -webkit-transition: 0.25s all ease-in-out;
    transition: 0.25s all ease-in-out; }
    .links.primary:visited:hover {
      color: #40e1e1; }

.links.secondary {
  color: #FFFFFF;
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out; }
  .links.secondary:hover, .links.secondary:focus {
    color: #bfbfbf; }
  .links.secondary:visited {
    color: #19a2a2;
    -webkit-transition: 0.25s all ease-in-out;
    transition: 0.25s all ease-in-out; }
    .links.secondary:visited:hover {
      color: #40e1e1; }

img {
  width: 100%; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background: #000000; }
  header * {
    color: #FFFFFF; }
  header h1 {
    float: left;
    width: calc(80% - 20px);
    margin-left: 20px; }
  header #menu-open {
    display: inline-block;
    width: calc(20% - 20px);
    margin-right: 20px;
    text-align: right;
    font-size: 2.5rem; }
  header nav {
    clear: both;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9); }
    header nav #menu-close {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 2.5rem; }
    header nav ul {
      list-style: none;
      margin-top: calc(2 * (20px + 2.5rem)); }
      header nav ul li {
        margin-top: calc(2 * 20px); }
        header nav ul li a,
        header nav ul li button {
          font-size: 2rem; }
        header nav ul li button {
          width: calc(100% - 20px - 2.5rem); }
  header nav.close {
    display: none; }

main {
  margin-top: calc((2 * 20px) + 2.5rem + 20px); }

.menu {
  display: block;
  position: relative;
  top: calc((-1) * ((2 * 20px) + 2.5rem + 20px));
  visibility: hidden; }

.about {
  margin: 20px; }

.work {
  background: #e6e6e6;
  padding: 20px;
  margin: 20px 0; }
  .work > * img {
    margin: 20px 0; }
  .work > * a {
    display: block;
    width: 100%;
    text-align: right;
    margin: 20px 0; }
  .work > * a:first-of-type {
    margin: 0; }

.knowledge {
  margin: 20px; }
  .knowledge span {
    display: inline-block;
    margin: calc(20px / 2) 0;
    margin-right: calc(20px / 4);
    padding: 20px;
    background: rgba(230, 230, 230, 0.8); }

.contact {
  background: #e6e6e6;
  padding: 20px;
  margin: 20px 0; }
  .contact h1 {
    margin-bottom: calc(2 * 20px); }
  .contact button {
    display: block;
    margin: 0 auto;
    margin-top: calc(2 * 20px); }

footer {
  text-align: center; }

@media (orientation: landscape) and (max-width: 575px), (min-width: 576px) {
  header nav ul {
    margin-top: calc(20px + 2.5rem);
    margin-left: calc(2 * 20px); }
    header nav ul li {
      display: inline-block;
      width: calc(50% - 20px);
      text-align: center; }
      header nav ul li:last-of-type {
        width: calc(100% - 20px - 2.5rem); } }

@media (min-width: 768px) {
  header {
    padding: 40px 0; }
    header h1 {
      width: calc(80% - 40px);
      margin-left: 40px; }
    header #menu-open {
      width: calc(20% - 40px);
      margin-right: 40px; }
    header nav #menu-close {
      top: 40px;
      right: 40px; }
    header nav ul {
      margin-top: calc(2 * (40px + 2.5rem));
      margin-left: calc(2 * (40px + 2.5rem)); }
      header nav ul li {
        text-align: left;
        width: calc(100% - 40px - 2.5rem);
        margin-top: calc(2 * 40px); }
        header nav ul li:last-of-type {
          width: calc(100% - 40px - 2.5rem); }
        header nav ul li button {
          width: calc(75% - 40px - 2.5rem); }
    header nav.close {
      display: none; }
  main {
    margin-top: calc((2 * 40px) + 2.5rem + 40px); }
  .menu {
    top: calc((-1) * ((2 * 40px) + 2.5rem + 40px)); }
  .about {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin: 40px; }
    .about h1 {
      grid-column: 1 / 3;
      margin-bottom: 40px; }
    .about p:first-of-type {
      margin-right: calc(20px); }
    .about p:last-of-type {
      margin-left: calc(20px); }
  .work {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    padding: 40px;
    margin: 40px 0; }
    .work h1 {
      grid-column: 1 / 3;
      margin-bottom: calc(40px / 2); }
    .work > *:first-of-type:not(h1) {
      margin-right: 40px; }
    .work > *:last-of-type:not(h1) {
      margin-left: 40px; }
    .work > * img {
      margin: calc(20px) 0; }
    .work > * a {
      margin: 40px 0; }
  .knowledge {
    margin: 40px; }
    .knowledge span {
      margin: calc(40px / 2) 0;
      margin-right: calc(40px / 4);
      padding: 40px; }
  .contact {
    padding: 40px;
    margin: 40px 0; }
    .contact h1 {
      margin-bottom: calc(2 * 40px); }
    .contact p {
      margin: 40px 0; }
    .contact button {
      display: block;
      margin-left: calc(100% - 96px);
      margin-top: 40px; }
  footer {
    margin: auto 40px;
    text-align: left; } }

@media (min-width: 992px) {
  header nav ul {
    margin-top: calc(2 * (20px + 2.5rem));
    margin-left: calc(2 * 20px); }
    header nav ul li {
      display: inline-block;
      width: calc(50% - 20px);
      text-align: center; }
      header nav ul li:last-of-type {
        width: calc(100% - 20px - 2.5rem); } }

@media (orientation: portrait) and (min-width: 992px) {
  header {
    padding: 40px 0; }
    header h1 {
      width: calc(80% - 40px);
      margin-left: 40px; }
    header #menu-open {
      width: calc(20% - 40px);
      margin-right: 40px; }
    header nav #menu-close {
      top: 40px;
      right: 40px; }
    header nav ul {
      margin-top: calc(2 * (40px + 2.5rem));
      margin-left: calc(2 * (40px + 2.5rem)); }
      header nav ul li {
        text-align: left;
        width: calc(100% - 40px - 2.5rem);
        margin-top: calc(2 * 40px); }
        header nav ul li:last-of-type {
          width: calc(100% - 40px - 2.5rem); }
        header nav ul li button {
          width: calc(75% - 40px - 2.5rem); }
    header nav.close {
      display: none; } }

@media (min-width: 1200px) {
  header {
    position: relative;
    padding: 20px 0; }
    header h1 {
      width: calc(20% - 20px);
      margin-left: 20px; }
    header #menu-open {
      display: none; }
    header nav {
      position: initial;
      background: transparent; }
      header nav #menu-close {
        display: none; }
      header nav ul {
        display: inline;
        list-style: none;
        margin-left: 0; }
        header nav ul li {
          margin-top: 0;
          width: calc(16% - 20px); }
          header nav ul li:last-of-type {
            width: calc(16% - 20px); }
          header nav ul li a,
          header nav ul li button {
            font-size: 1rem; }
          header nav ul li button {
            width: 100%; }
    header nav.close {
      display: initial; }
  main {
    margin-top: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: calc(50vh - 2.5rem - (2 * 20px) + (4 * 1rem)) calc(50vh - 2.5rem - (2 * 20px) + (4 * 1rem)); }
  .menu {
    display: none; }
  .about {
    padding: 20px;
    margin: 0;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 30% 35% 35%; }
    .about p {
      grid-column: 1 / 3;
      margin-left: 20px; }
      .about p:first-of-type, .about p:last-of-type {
        margin: 0; }
  .work {
    background: #e6e6e6;
    padding: 20px;
    margin: 0;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 80%; }
    .work h1 {
      grid-column: 1 / 5; }
    .work > *:first-of-type:not(h1), .work > *:last-of-type:not(h1) {
      margin: 0;
      margin-right: 20px; }
    .work > * a {
      display: inline; }
    .work > * img {
      height: 130px;
      margin: 20px 0; }
    .work > * p,
    .work > * a:last-of-type {
      display: none; }
  .knowledge {
    background: #e6e6e6;
    padding: 20px;
    margin: 0; }
    .knowledge span {
      display: inline-block;
      margin: calc(20px / 2) 0;
      margin-right: calc(20px / 4);
      padding: 20px;
      background: rgba(255, 255, 255, 0.8); }
  .contact {
    background: transparent;
    padding: 20px;
    margin: 0; }
    .contact h1 {
      margin-bottom: 20px; }
    .contact p {
      margin: 20px 0; }
    .contact button {
      display: block;
      margin: 0;
      margin-left: calc(100% - 96px - 20px);
      margin-top: calc(2 * 20px); }
  footer {
    position: absolute;
    bottom: calc(0px + (2 * 1rem));
    left: calc(50% - 20px);
    text-align: left; } }
