.rectangle-1,
.rectangle-9,
.rectangle-44,
.rectangle-74,
.rectangle-71,
.rectangle-81,
.rectangle-121,
.rectangle-151,
.rectangle-169,
.rectangle-241,
.rectangle-225,
.rectangle-251,
.rectangle-284,
.rectangle-311,
.rectangle-326,
.rectangle-366 {
  outline: var(--border);
}

.rectangle-1,
.rectangle-71,
.rectangle-251,
.rectangle-326 {
  background: var(--color-primary-1);
}

.rectangle-74,
.rectangle-121,
.rectangle-169,
.rectangle-284 {
  background: var(--color-primary-2);
}

.rectangle-9,
.rectangle-81,
.rectangle-225,
.rectangle-366 {
  background: var(--color-primary-3);
}

.rectangle-44,
.rectangle-151,
.rectangle-241,
.rectangle-311 {
  background: var(--color-secondary-1);
}

.rectangle-284,
.rectangle-311 {
  margin-block-start: var(--spacing-extra-small);
  margin-top: var(--spacing-extra-small);
}

.rectangle-1,
.rectangle-311 {
  margin-block-end: var(--spacing-extra-small);
  margin-bottom: var(--spacing-extra-small);
}

.rectangle-74,
.rectangle-311 {
  margin-inline-start: var(--spacing-extra-small) 0;
  margin-left: var(--spacing-extra-small);
}

.rectangle-35 {
  grid-area: 3 / 3 / span 1 / span 1;
}

.rectangle-1 {
  grid-area: 1 / 1 / span 3 / span 3;
}

.rectangle-2 {
  grid-area: 1 / 2 / 2 / 3;
}

.rectangle-3 {
  grid-area: 1 / 3 / 2 / 4;
}

.rectangle-21 {
  grid-area: 2 / 1 / 3 / 2;
}

.rectangle-22 {
  grid-area: 2 / 2 / 3 / 3;
}

.rectangle-23 {
  grid-area: 2 / 3 / 3 / 4;
}

.rectangle-41 {
  grid-area: 3 / 1 / 4 / 2;
}

.rectangle-42 {
  grid-area: 3 / 2 / 4 / 3;
}

.rectangle-43 {
  grid-area: 3 / 3 / 4 / 4;
}

.rectangle-9 {
  grid-area: 1 / 9 / span 2 / span 3;
}

.rectangle-10 {
  grid-area: 1 / 10 / 2 / 11;
}

.rectangle-11 {
  grid-area: 1 / 11 / 2 / 12;
}

.rectangle-29 {
  grid-area: 2 / 9 / 3 / 10;
}

.rectangle-30 {
  grid-area: 2 / 10 / 3 / 11;
}

.rectangle-31 {
  grid-area: 2 / 11 / 3 / 12;
}

.rectangle-44 {
  grid-area: 3 / 4 / span 1 / span 5;
}

.rectangle-45 {
  grid-area: 3 / 5 / 4 / 6;
}

.rectangle-46 {
  grid-area: 3 / 6 / 4 / 7;
}

.rectangle-47 {
  grid-area: 3 / 7 / 4 / 8;
}

.rectangle-48 {
  grid-area: 3 / 8 / 4 / 9;
}

.rectangle-74 {
  grid-area: 4 / 14 / span 2 / span 7;
}

.rectangle-75 {
  grid-area: 4 / 15 / 5 / 16;
}

.rectangle-76 {
  grid-area: 4 / 16 / 5 / 17;
}

.rectangle-77 {
  grid-area: 4 / 17 / 5 / 18;
}

.rectangle-78 {
  grid-area: 4 / 18 / 5 / 19;
}

.rectangle-79 {
  grid-area: 4 / 19 / 5 / 20;
}

.rectangle-80 {
  grid-area: 4 / 20 / 5 / 21;
}

.rectangle-94 {
  grid-area: 5 / 14 / 6 / 15;
}

.rectangle-95 {
  grid-area: 5 / 15 / 6 / 16;
}

.rectangle-96 {
  grid-area: 5 / 16 / 6 / 17;
}

.rectangle-97 {
  grid-area: 5 / 17 / 6 / 18;
}

.rectangle-98 {
  grid-area: 5 / 18 / 6 / 19;
}

.rectangle-99 {
  grid-area: 5 / 19 / 6 / 20;
}

.rectangle-100 {
  grid-area: 5 / 20 / 6 / 21;
}

.rectangle-71 {
  grid-area: 4 / 11 / span 4 / span 3;
}

.rectangle-72 {
  grid-area: 4 / 12 / 5 / 13;
}

.rectangle-73 {
  grid-area: 4 / 13 / 5 / 14;
}

.rectangle-91 {
  grid-area: 5 / 11 / 6 / 12;
}

.rectangle-92 {
  grid-area: 5 / 12 / 6 / 13;
}

.rectangle-93 {
  grid-area: 5 / 13 / 6 / 14;
}

.rectangle-111 {
  grid-area: 6 / 11 / 7 / 12;
}

.rectangle-112 {
  grid-area: 6 / 12 / 7 / 13;
}

.rectangle-113 {
  grid-area: 6 / 13 / 7 / 14;
}

.rectangle-131 {
  grid-area: 7 / 11 / 8 / 12;
}

.rectangle-132 {
  grid-area: 7 / 12 / 8 / 13;
}

.rectangle-133 {
  grid-area: 7 / 13 / 8 / 14;
}

.rectangle-81 {
  grid-area: 5 / 1 / span 2 / span 2;
}

.rectangle-82 {
  grid-area: 5 / 2 / 6 / 3;
}

.rectangle-101 {
  grid-area: 6 / 1 / 7 / 2;
}

.rectangle-102 {
  grid-area: 6 / 2 / 7 / 3;
}

.rectangle-121 {
  grid-area: 7 / 1 / span 2 / span 2;
}

.rectangle-122 {
  grid-area: 7 / 2 / 8 / 3;
}

.rectangle-141 {
  grid-area: 8 / 1 / 9 / 2;
}

.rectangle-142 {
  grid-area: 8 / 2 / 9 / 3;
}

.rectangle-151 {
  grid-area: 8 / 11 / span 1 / span 3;
}

.rectangle-152 {
  grid-area: 8 / 12 / 9 / 13;
}

.rectangle-153 {
  grid-area: 8 / 13 / 9 / 14;
}

.rectangle-169 {
  grid-area: 9 / 9 / span 2 / span 5;
}

.rectangle-170 {
  grid-area: 9 / 10 / 10 / 11;
}

.rectangle-171 {
  grid-area: 9 / 11 / 10 / 12;
}

.rectangle-172 {
  grid-area: 9 / 12 / 10 / 13;
}

.rectangle-173 {
  grid-area: 9 / 13 / 10 / 14;
}

.rectangle-189 {
  grid-area: 10 / 9 / 11 / 10;
}

.rectangle-190 {
  grid-area: 10 / 10 / 11 / 11;
}

.rectangle-191 {
  grid-area: 10 / 11 / 11 / 12;
}

.rectangle-192 {
  grid-area: 10 / 12 / 11 / 13;
}

.rectangle-193 {
  grid-area: 10 / 13 / 11 / 14;
}

.rectangle-225 {
  grid-area: 12 / 5 / span 1 / span 9;
}

.rectangle-226 {
  grid-area: 12 / 6 / 13 / 7;
}

.rectangle-227 {
  grid-area: 12 / 7 / 13 / 8;
}

.rectangle-228 {
  grid-area: 12 / 8 / 13 / 9;
}

.rectangle-229 {
  grid-area: 12 / 9 / 13 / 10;
}

.rectangle-230 {
  grid-area: 12 / 10 / 13 / 11;
}

.rectangle-231 {
  grid-area: 12 / 11 / 13 / 12;
}

.rectangle-232 {
  grid-area: 12 / 12 / 13 / 13;
}

.rectangle-233 {
  grid-area: 12 / 13 / 13 / 14;
}

.rectangle-241 {
  grid-area: 13 / 1 / span 2 / span 2;
}

.rectangle-242 {
  grid-area: 13 / 2 / 14 / 3;
}

.rectangle-261 {
  grid-area: 14 / 1 / 15 / 2;
}

.rectangle-262 {
  grid-area: 14 / 2 / 15 / 3;
}

.rectangle-251 {
  grid-area: 13 / 11 / span 2 / span 3;
}

.rectangle-252 {
  grid-area: 13 / 12 / 14 / 13;
}

.rectangle-253 {
  grid-area: 13 / 13 / 14 / 14;
}

.rectangle-271 {
  grid-area: 14 / 11 / 15 / 12;
}

.rectangle-272 {
  grid-area: 14 / 12 / 15 / 13;
}

.rectangle-273 {
  grid-area: 14 / 13 / 15 / 14;
}

.rectangle-284 {
  grid-area: 15 / 4 / span 1 / span 9;
}

.rectangle-285 {
  grid-area: 15 / 5 / 16 / 6;
}

.rectangle-286 {
  grid-area: 15 / 6 / 16 / 7;
}

.rectangle-287 {
  grid-area: 15 / 7 / 16 / 8;
}

.rectangle-288 {
  grid-area: 15 / 8 / 16 / 9;
}

.rectangle-289 {
  grid-area: 15 / 9 / 16 / 10;
}

.rectangle-290 {
  grid-area: 15 / 10 / 16 / 11;
}

.rectangle-291 {
  grid-area: 15 / 11 / 16 / 12;
}

.rectangle-292 {
  grid-area: 15 / 12 / 16 / 13;
}

.rectangle-311 {
  grid-area: 16 / 11 / span 3 / span 3;
}

.rectangle-312 {
  grid-area: 16 / 12 / 17 / 13;
}

.rectangle-313 {
  grid-area: 16 / 13 / 17 / 14;
}

.rectangle-331 {
  grid-area: 17 / 11 / 18 / 12;
}

.rectangle-332 {
  grid-area: 17 / 12 / 18 / 13;
}

.rectangle-333 {
  grid-area: 17 / 13 / 18 / 14;
}

.rectangle-351 {
  grid-area: 18 / 11 / 19 / 12;
}

.rectangle-352 {
  grid-area: 18 / 12 / 19 / 13;
}

.rectangle-353 {
  grid-area: 18 / 13 / 19 / 14;
}

.rectangle-326 {
  grid-area: 17 / 6 / span 2 / span 5;
}

.rectangle-327 {
  grid-area: 17 / 7 / 18 / 8;
}

.rectangle-328 {
  grid-area: 17 / 8 / 18 / 9;
}

.rectangle-329 {
  grid-area: 17 / 9 / 18 / 10;
}

.rectangle-330 {
  grid-area: 17 / 10 / 18 / 11;
}

.rectangle-346 {
  grid-area: 18 / 6 / 19 / 7;
}

.rectangle-347 {
  grid-area: 18 / 7 / 19 / 8;
}

.rectangle-348 {
  grid-area: 18 / 8 / 19 / 9;
}

.rectangle-349 {
  grid-area: 18 / 9 / 19 / 10;
}

.rectangle-350 {
  grid-area: 18 / 10 / 19 / 11;
}

.rectangle-366 {
  grid-area: 19 / 6 / span 2 / span 1;
}

.rectangle-386 {
  grid-area: 20 / 6 / 21 / 7;
}

.content-4,
.content-12,
.content-63,
.content-114,
.content-181,
.content-243,
.content-301,
.content-367 {
  background: var(--color-secondary-2);
  outline: var(--border);
}

.content-301 {
  margin-block-start: var(--spacing-extra-small);
  margin-top: var(--spacing-extra-small);
}

.content-181 {
  margin-inline-end: var(--spacing-extra-small);
  margin-right: var(--spacing-extra-small);
}

.content-12,
.content-181 {
  margin-block-end: var(--spacing-extra-small);
  margin-bottom: var(--spacing-extra-small);
}

.content-114 {
  margin-inline-start: var(--spacing-extra-small);
  margin-left: var(--spacing-extra-small);
}

.content-4 {
  grid-area: 1 / 4 / span 2 / span 5;
}

.content-5 {
  grid-area: 1 / 5 / 2 / 6;
}

.content-6 {
  grid-area: 1 / 6 / 2 / 7;
}

.content-7 {
  grid-area: 1 / 7 / 2 / 8;
}

.content-8 {
  grid-area: 1 / 8 / 2 / 9;
}

.content-24 {
  grid-area: 2 / 4 / 3 / 5;
}

.content-25 {
  grid-area: 2 / 5 / 3 / 6;
}

.content-26 {
  grid-area: 2 / 6 / 3 / 7;
}

.content-27 {
  grid-area: 2 / 7 / 3 / 8;
}

.content-28 {
  grid-area: 2 / 8 / 3 / 9;
}

.content-12 {
  grid-area: 1 / 12 / span 3 / span 9;
}

.content-13 {
  grid-area: 1 / 13 / 2 / 14;
}

.content-14 {
  grid-area: 1 / 14 / 2 / 15;
}

.content-15 {
  grid-area: 1 / 15 / 2 / 16;
}

.content-16 {
  grid-area: 1 / 16 / 2 / 17;
}

.content-17 {
  grid-area: 1 / 17 / 2 / 18;
}

.content-18 {
  grid-area: 1 / 18 / 2 / 19;
}

.content-19 {
  grid-area: 1 / 19 / 2 / 20;
}

.content-20 {
  grid-area: 1 / 20 / 2 / 21;
}

.content-32 {
  grid-area: 2 / 12 / 3 / 13;
}

.content-33 {
  grid-area: 2 / 13 / 3 / 14;
}

.content-34 {
  grid-area: 2 / 14 / 3 / 15;
}

.content-35 {
  grid-area: 2 / 15 / 3 / 16;
}

.content-36 {
  grid-area: 2 / 16 / 3 / 17;
}

.content-37 {
  grid-area: 2 / 17 / 3 / 18;
}

.content-38 {
  grid-area: 2 / 18 / 3 / 19;
}

.content-39 {
  grid-area: 2 / 19 / 3 / 20;
}

.content-40 {
  grid-area: 2 / 20 / 3 / 21;
}

.content-52 {
  grid-area: 3 / 12 / 4 / 13;
}

.content-53 {
  grid-area: 3 / 13 / 4 / 14;
}

.content-54 {
  grid-area: 3 / 14 / 4 / 15;
}

.content-55 {
  grid-area: 3 / 15 / 4 / 16;
}

.content-56 {
  grid-area: 3 / 16 / 4 / 17;
}

.content-57 {
  grid-area: 3 / 17 / 4 / 18;
}

.content-58 {
  grid-area: 3 / 18 / 4 / 19;
}

.content-59 {
  grid-area: 3 / 19 / 4 / 20;
}

.content-60 {
  grid-area: 3 / 20 / 4 / 21;
}

.content-63 {
  grid-area: 4 / 3 / span 5 / span 8;
}

.content-64 {
  grid-area: 4 / 4 / 5 / 5;
}

.content-65 {
  grid-area: 4 / 5 / 5 / 6;
}

.content-66 {
  grid-area: 4 / 6 / 5 / 7;
}

.content-67 {
  grid-area: 4 / 7 / 5 / 8;
}

.content-68 {
  grid-area: 4 / 8 / 5 / 9;
}

.content-69 {
  grid-area: 4 / 9 / 5 / 10;
}

.content-70 {
  grid-area: 4 / 10 / 5 / 11;
}

.content-83 {
  grid-area: 5 / 3 / 6 / 4;
}

.content-84 {
  grid-area: 5 / 4 / 6 / 5;
}

.content-85 {
  grid-area: 5 / 5 / 6 / 6;
}

.content-86 {
  grid-area: 5 / 6 / 6 / 7;
}

.content-87 {
  grid-area: 5 / 7 / 6 / 8;
}

.content-88 {
  grid-area: 5 / 8 / 6 / 9;
}

.content-89 {
  grid-area: 5 / 9 / 6 / 10;
}

.content-90 {
  grid-area: 5 / 10 / 6 / 11;
}

.content-103 {
  grid-area: 6 / 3 / 7 / 4;
}

.content-104 {
  grid-area: 6 / 4 / 7 / 5;
}

.content-105 {
  grid-area: 6 / 5 / 7 / 6;
}

.content-106 {
  grid-area: 6 / 6 / 7 / 7;
}

.content-107 {
  grid-area: 6 / 7 / 7 / 8;
}

.content-108 {
  grid-area: 6 / 8 / 7 / 9;
}

.content-109 {
  grid-area: 6 / 9 / 7 / 10;
}

.content-110 {
  grid-area: 6 / 10 / 7 / 11;
}

.content-123 {
  grid-area: 7 / 3 / 8 / 4;
}

.content-124 {
  grid-area: 7 / 4 / 8 / 5;
}

.content-125 {
  grid-area: 7 / 5 / 8 / 6;
}

.content-126 {
  grid-area: 7 / 6 / 8 / 7;
}

.content-127 {
  grid-area: 7 / 7 / 8 / 8;
}

.content-128 {
  grid-area: 7 / 8 / 8 / 9;
}

.content-129 {
  grid-area: 7 / 9 / 8 / 10;
}

.content-130 {
  grid-area: 7 / 10 / 8 / 11;
}

.content-143 {
  grid-area: 8 / 3 / 9 / 4;
}

.content-144 {
  grid-area: 8 / 4 / 9 / 5;
}

.content-145 {
  grid-area: 8 / 5 / 9 / 6;
}

.content-146 {
  grid-area: 8 / 6 / 9 / 7;
}

.content-147 {
  grid-area: 8 / 7 / 9 / 8;
}

.content-148 {
  grid-area: 8 / 8 / 9 / 9;
}

.content-149 {
  grid-area: 8 / 9 / 9 / 10;
}

.content-150 {
  grid-area: 8 / 10 / 9 / 11;
}

.content-114 {
  grid-area: 6 / 14 / span 15 / span 7;
}

.content-115 {
  grid-area: 6 / 15 / 7 / 16;
}

.content-116 {
  grid-area: 6 / 16 / 7 / 17;
}

.content-117 {
  grid-area: 6 / 17 / 7 / 18;
}

.content-118 {
  grid-area: 6 / 18 / 7 / 19;
}

.content-119 {
  grid-area: 6 / 19 / 7 / 20;
}

.content-120 {
  grid-area: 6 / 20 / 7 / 21;
}

.content-134 {
  grid-area: 7 / 14 / 8 / 15;
}

.content-135 {
  grid-area: 7 / 15 / 8 / 16;
}

.content-136 {
  grid-area: 7 / 16 / 8 / 17;
}

.content-137 {
  grid-area: 7 / 17 / 8 / 18;
}

.content-138 {
  grid-area: 7 / 18 / 8 / 19;
}

.content-139 {
  grid-area: 7 / 19 / 8 / 20;
}

.content-140 {
  grid-area: 7 / 20 / 8 / 21;
}

.content-154 {
  grid-area: 8 / 14 / 9 / 15;
}

.content-155 {
  grid-area: 8 / 15 / 9 / 16;
}

.content-156 {
  grid-area: 8 / 16 / 9 / 17;
}

.content-157 {
  grid-area: 8 / 17 / 9 / 18;
}

.content-158 {
  grid-area: 8 / 18 / 9 / 19;
}

.content-159 {
  grid-area: 8 / 19 / 9 / 20;
}

.content-160 {
  grid-area: 8 / 20 / 9 / 21;
}

.content-174 {
  grid-area: 9 / 14 / 10 / 15;
}

.content-175 {
  grid-area: 9 / 15 / 10 / 16;
}

.content-176 {
  grid-area: 9 / 16 / 10 / 17;
}

.content-177 {
  grid-area: 9 / 17 / 10 / 18;
}

.content-178 {
  grid-area: 9 / 18 / 10 / 19;
}

.content-179 {
  grid-area: 9 / 19 / 10 / 20;
}

.content-180 {
  grid-area: 9 / 20 / 10 / 21;
}

.content-194 {
  grid-area: 10 / 14 / 11 / 15;
}

.content-195 {
  grid-area: 10 / 15 / 11 / 16;
}

.content-196 {
  grid-area: 10 / 16 / 11 / 17;
}

.content-197 {
  grid-area: 10 / 17 / 11 / 18;
}

.content-198 {
  grid-area: 10 / 18 / 11 / 19;
}

.content-199 {
  grid-area: 10 / 19 / 11 / 20;
}

.content-200 {
  grid-area: 10 / 20 / 11 / 21;
}

.content-214 {
  grid-area: 11 / 14 / 12 / 15;
}

.content-215 {
  grid-area: 11 / 15 / 12 / 16;
}

.content-216 {
  grid-area: 11 / 16 / 12 / 17;
}

.content-217 {
  grid-area: 11 / 17 / 12 / 18;
}

.content-218 {
  grid-area: 11 / 18 / 12 / 19;
}

.content-219 {
  grid-area: 11 / 19 / 12 / 20;
}

.content-220 {
  grid-area: 11 / 20 / 12 / 21;
}

.content-234 {
  grid-area: 12 / 14 / 13 / 15;
}

.content-235 {
  grid-area: 12 / 15 / 13 / 16;
}

.content-236 {
  grid-area: 12 / 16 / 13 / 17;
}

.content-237 {
  grid-area: 12 / 17 / 13 / 18;
}

.content-238 {
  grid-area: 12 / 18 / 13 / 19;
}

.content-239 {
  grid-area: 12 / 19 / 13 / 20;
}

.content-240 {
  grid-area: 12 / 20 / 13 / 21;
}

.content-254 {
  grid-area: 13 / 14 / 14 / 15;
}

.content-255 {
  grid-area: 13 / 15 / 14 / 16;
}

.content-256 {
  grid-area: 13 / 16 / 14 / 17;
}

.content-257 {
  grid-area: 13 / 17 / 14 / 18;
}

.content-258 {
  grid-area: 13 / 18 / 14 / 19;
}

.content-259 {
  grid-area: 13 / 19 / 14 / 20;
}

.content-260 {
  grid-area: 13 / 20 / 14 / 21;
}

.content-274 {
  grid-area: 14 / 14 / 15 / 15;
}

.content-275 {
  grid-area: 14 / 15 / 15 / 16;
}

.content-276 {
  grid-area: 14 / 16 / 15 / 17;
}

.content-277 {
  grid-area: 14 / 17 / 15 / 18;
}

.content-278 {
  grid-area: 14 / 18 / 15 / 19;
}

.content-279 {
  grid-area: 14 / 19 / 15 / 20;
}

.content-280 {
  grid-area: 14 / 20 / 15 / 21;
}

.content-294 {
  grid-area: 15 / 14 / 16 / 15;
}

.content-295 {
  grid-area: 15 / 15 / 16 / 16;
}

.content-296 {
  grid-area: 15 / 16 / 16 / 17;
}

.content-297 {
  grid-area: 15 / 17 / 16 / 18;
}

.content-298 {
  grid-area: 15 / 18 / 16 / 19;
}

.content-299 {
  grid-area: 15 / 19 / 16 / 20;
}

.content-300 {
  grid-area: 15 / 20 / 16 / 21;
}

.content-314 {
  grid-area: 16 / 14 / 17 / 15;
}

.content-315 {
  grid-area: 16 / 15 / 17 / 16;
}

.content-316 {
  grid-area: 16 / 16 / 17 / 17;
}

.content-317 {
  grid-area: 16 / 17 / 17 / 18;
}

.content-318 {
  grid-area: 16 / 18 / 17 / 19;
}

.content-319 {
  grid-area: 16 / 19 / 17 / 20;
}

.content-320 {
  grid-area: 16 / 20 / 17 / 21;
}

.content-334 {
  grid-area: 17 / 14 / 18 / 15;
}

.content-335 {
  grid-area: 17 / 15 / 18 / 16;
}

.content-336 {
  grid-area: 17 / 16 / 18 / 17;
}

.content-337 {
  grid-area: 17 / 17 / 18 / 18;
}

.content-338 {
  grid-area: 17 / 18 / 18 / 19;
}

.content-339 {
  grid-area: 17 / 19 / 18 / 20;
}

.content-340 {
  grid-area: 17 / 20 / 18 / 21;
}

.content-354 {
  grid-area: 18 / 14 / 19 / 15;
}

.content-355 {
  grid-area: 18 / 15 / 19 / 16;
}

.content-356 {
  grid-area: 18 / 16 / 19 / 17;
}

.content-357 {
  grid-area: 18 / 17 / 19 / 18;
}

.content-358 {
  grid-area: 18 / 18 / 19 / 19;
}

.content-359 {
  grid-area: 18 / 19 / 19 / 20;
}

.content-360 {
  grid-area: 18 / 20 / 19 / 21;
}

.content-374 {
  grid-area: 19 / 14 / 20 / 15;
}

.content-375 {
  grid-area: 19 / 15 / 20 / 16;
}

.content-376 {
  grid-area: 19 / 16 / 20 / 17;
}

.content-377 {
  grid-area: 19 / 17 / 20 / 18;
}

.content-378 {
  grid-area: 19 / 18 / 20 / 19;
}

.content-379 {
  grid-area: 19 / 19 / 20 / 20;
}

.content-380 {
  grid-area: 19 / 20 / 20 / 21;
}

.content-394 {
  grid-area: 20 / 14 / 21 / 15;
}

.content-395 {
  grid-area: 20 / 15 / 21 / 16;
}

.content-396 {
  grid-area: 20 / 16 / 21 / 17;
}

.content-397 {
  grid-area: 20 / 17 / 21 / 18;
}

.content-398 {
  grid-area: 20 / 18 / 21 / 19;
}

.content-399 {
  grid-area: 20 / 19 / 21 / 20;
}

.content-400 {
  grid-area: 20 / 20 / 21 / 21;
}

.content-181 {
  grid-area: 10 / 1 / span 2 / span 8;
}

.content-182 {
  grid-area: 10 / 2 / 11 / 3;
}

.content-183 {
  grid-area: 10 / 3 / 11 / 4;
}

.content-184 {
  grid-area: 10 / 4 / 11 / 5;
}

.content-185 {
  grid-area: 10 / 5 / 11 / 6;
}

.content-186 {
  grid-area: 10 / 6 / 11 / 7;
}

.content-187 {
  grid-area: 10 / 7 / 11 / 8;
}

.content-188 {
  grid-area: 10 / 8 / 11 / 9;
}

.content-201 {
  grid-area: 11 / 1 / 12 / 2;
}

.content-202 {
  grid-area: 11 / 2 / 12 / 3;
}

.content-203 {
  grid-area: 11 / 3 / 12 / 4;
}

.content-204 {
  grid-area: 11 / 4 / 12 / 5;
}

.content-205 {
  grid-area: 11 / 5 / 12 / 6;
}

.content-206 {
  grid-area: 11 / 6 / 12 / 7;
}

.content-207 {
  grid-area: 11 / 7 / 12 / 8;
}

.content-208 {
  grid-area: 11 / 8 / 12 / 9;
}

.content-243 {
  grid-area: 13 / 3 / span 2 / span 8;
}

.content-244 {
  grid-area: 13 / 4 / 14 / 5;
}

.content-245 {
  grid-area: 13 / 5 / 14 / 6;
}

.content-246 {
  grid-area: 13 / 6 / 14 / 7;
}

.content-247 {
  grid-area: 13 / 7 / 14 / 8;
}

.content-248 {
  grid-area: 13 / 8 / 14 / 9;
}

.content-249 {
  grid-area: 13 / 9 / 14 / 10;
}

.content-250 {
  grid-area: 13 / 10 / 14 / 11;
}

.content-263 {
  grid-area: 14 / 3 / 15 / 4;
}

.content-264 {
  grid-area: 14 / 4 / 15 / 5;
}

.content-265 {
  grid-area: 14 / 5 / 15 / 6;
}

.content-266 {
  grid-area: 14 / 6 / 15 / 7;
}

.content-267 {
  grid-area: 14 / 7 / 15 / 8;
}

.content-268 {
  grid-area: 14 / 8 / 15 / 9;
}

.content-269 {
  grid-area: 14 / 9 / 15 / 10;
}

.content-270 {
  grid-area: 14 / 10 / 15 / 11;
}

.content-301 {
  grid-area: 16 / 1 / span 5 / span 5;
}

.content-302 {
  grid-area: 16 / 2 / 17 / 3;
}

.content-303 {
  grid-area: 16 / 3 / 17 / 4;
}

.content-304 {
  grid-area: 16 / 4 / 17 / 5;
}

.content-305 {
  grid-area: 16 / 5 / 17 / 6;
}

.content-321 {
  grid-area: 17 / 1 / 18 / 2;
}

.content-322 {
  grid-area: 17 / 2 / 18 / 3;
}

.content-323 {
  grid-area: 17 / 3 / 18 / 4;
}

.content-324 {
  grid-area: 17 / 4 / 18 / 5;
}

.content-325 {
  grid-area: 17 / 5 / 18 / 6;
}

.content-341 {
  grid-area: 18 / 1 / 19 / 2;
}

.content-342 {
  grid-area: 18 / 2 / 19 / 3;
}

.content-343 {
  grid-area: 18 / 3 / 19 / 4;
}

.content-344 {
  grid-area: 18 / 4 / 19 / 5;
}

.content-345 {
  grid-area: 18 / 5 / 19 / 6;
}

.content-361 {
  grid-area: 19 / 1 / 20 / 2;
}

.content-362 {
  grid-area: 19 / 2 / 20 / 3;
}

.content-363 {
  grid-area: 19 / 3 / 20 / 4;
}

.content-364 {
  grid-area: 19 / 4 / 20 / 5;
}

.content-365 {
  grid-area: 19 / 5 / 20 / 6;
}

.content-381 {
  grid-area: 20 / 1 / 21 / 2;
}

.content-382 {
  grid-area: 20 / 2 / 21 / 3;
}

.content-383 {
  grid-area: 20 / 3 / 21 / 4;
}

.content-384 {
  grid-area: 20 / 4 / 21 / 5;
}

.content-385 {
  grid-area: 20 / 5 / 21 / 6;
}

.content-367 {
  grid-area: 19 / 7 / span 2 / span 6;
}

.content-368 {
  grid-area: 19 / 8 / 20 / 9;
}

.content-369 {
  grid-area: 19 / 9 / 20 / 10;
}

.content-370 {
  grid-area: 19 / 10 / 20 / 11;
}

.content-371 {
  grid-area: 19 / 11 / 20 / 12;
}

.content-372 {
  grid-area: 19 / 12 / 20 / 13;
}

.content-387 {
  grid-area: 20 / 7 / 21 / 8;
}

.content-388 {
  grid-area: 20 / 8 / 21 / 9;
}

.content-389 {
  grid-area: 20 / 9 / 21 / 10;
}

.content-390 {
  grid-area: 20 / 10 / 21 / 11;
}

.content-391 {
  grid-area: 20 / 11 / 21 / 12;
}

.content-392 {
  grid-area: 20 / 12 / 21 / 13;
}

/*# sourceMappingURL=index.css.map */
