html {
  font: var(--font-regular) var(--font-normal) var(--font-base) var(--font-primary);
}

.cv {
	width: var(--base-width);
  height: var(--base-height);
}

h1,
h2,
h3,
p {
	margin: 0;
	margin-block: 0;
}

h1.primary {
  font: var(--font-regular) var(--font-bold) var(--font-heading-1) var(--font-primary);
}

h2.primary {
  font: var(--font-regular) var(--font-semi-bold) var(--font-heading-2) var(--font-primary);
}

h3.primary {
  font: var(--font-regular) var(--font-normal) var(--font-heading-3) var(--font-primary);
}

p.primary,
span.primary {
  font: var(--font-regular) var(--font-normal) var(--font-paragraph) var(--font-primary);
}

em.primary {
  font: var(--font-italic) var(--font-normal) var(--font-paragraph) var(--font-primary);
}

h1.secondary {
  font: var(--font-regular) var(--font-bold) var(--font-heading-1) var(--font-secondary);
}

h2.secondary {
  font: var(--font-regular) var(--font-medium) var(--font-heading-2) var(--font-secondary);
}

h3.secondary {
  font: var(--font-regular) var(--font-normal) var(--font-heading-3) var(--font-secondary);
}

p.secondary,
span.secondary {
  font: var(--font-regular) var(--font-normal) var(--font-paragraph) var(--font-secondary);
}

.container {
  position: relative;
  width: 100%;
  height: var(--base-height);
  border: var(--border);
}

.container * {
  box-sizing: border-box;
}

.grid-rectangles,
.grid-content {
  position: absolute;
	display: grid;
	grid-template: var(--grid-container);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.information-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-block: var(--spacing-normal);
	padding-inline: var(--spacing-normal);
	padding: var(--spacing-normal);
}

.information {
	width: 75%;
	margin-block: 0 var(--spacing-small);
	margin: 0 0 var(--spacing-small) 0;
	text-align: right;
}

.information:last-of-type {
	margin-block-end: 0;
	margin-bottom: 0;
}

.skills-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-block: 0;
	padding-inline: var(--spacing-normal);
	padding: 0 var(--spacing-normal);
}

.languages-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-block: 0;
	padding-inline: var(--spacing-normal);
	padding: 0 var(--spacing-normal);
}

.language {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100% - (2 * var(--spacing-extra-large)));
	margin-block: 0 var(--spacing-small);
	margin-inline: var(--spacing-extra-large);
	margin: 0 var(--spacing-extra-large) var(--spacing-small) var(--spacing-extra-large);
}

.language:last-of-type {
	margin-block-end: 0;
	margin-bottom: 0;
}

.language-name,
.language-expertise {
	width: 50%;
}

.language-expertise {
	text-align: center;
}

.education-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-block: var(--spacing-normal);
	padding-inline: var(--spacing-normal);
	padding: var(--spacing-normal);
}

.education {
	width: calc(100% - (2 * var(--spacing-normal)));
	margin-block: 0 var(--spacing-small);
	margin: 0 0 var(--spacing-small) 0;
}

.education:last-of-type {
	margin-block-end: 0;
	margin-bottom: 0;
}

.excerpt-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-inline: var(--spacing-large);
	padding: 0 var(--spacing-large);
}

.excerpt {
	margin-block: 0 var(--spacing-small);
	margin: 0 0 var(--spacing-small) 0;
}

.excerpt:last-of-type {
	margin-block-end: 0;
	margin-bottom: 0;
}

.name-container {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.name {
	width: 50%;
}

.courses-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding-block: var(--spacing-normal);
	padding-inline: var(--spacing-normal);
	padding: var(--spacing-normal);
}

.course {
	margin-block: 0 var(--spacing-small);
	margin-inline: var(--spacing-extra-large);
	margin: 0 var(--spacing-extra-large) var(--spacing-small) var(--spacing-extra-large);
}

.course:last-of-type {
	margin-bottom: 0;
	margin-block-end: 0;
}

.jobs-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-block: var(--spacing-small);
	padding: var(--spacing-small) 0;
}

.job {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: calc(100% - (2 * var(--spacing-extra-large)));
	margin-block: 0 var(--spacing-normal);
	margin: 0 0 var(--spacing-normal) 0;
}

.job:last-of-type {
	margin-block-end: 0;
	margin-bottom: 0;
}

.job-name,
.job-position {
	margin-block: 0 var(--spacing-normal);
	margin: 0 0 var(--spacing-normal) 0;
}

.grid-portfolio {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-auto-rows: 50vh;
}

.cta-link,
.cta-cv {
	text-decoration: none;
	padding: var(--spacing-normal);
}

.cta-link {
	padding: var(--spacing-extra-large) 0;
}

[class*="cell-"] {
	outline: var(--border);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: var(--spacing-normal);
	text-align: center;
}

.cell-01 {
	background: var(--color-primary-1);
}

.cell-02 {
	background: var(--color-primary-2);
	color: var(--color-secondary-2);
}

.cell-03 {
	background: var(--color-primary-3);
}

.cell-04 {
	background: var(--color-secondary-1);
	color: var(--color-secondary-2);
}

.cell-05 {
	background: var(--color-secondary-2);
}

.cell-06 {
	background: var(--color-primary-1);
	color: var(--color-secondary-2);
}

.cell-06 .cta-cv {
	color: var(--color-secondary-2);
}

.cell-07 {
	background: var(--color-primary-2);
	color: var(--color-secondary-2);
}

.cell-08 {
	background: var(--color-primary-3);
}

.cell-09 {
	background: var(--color-secondary-1);
}

.cell-09 .cta-link {
	color: var(--color-secondary-2);
}

.cell-10 {
	background: var(--color-secondary-2);
}

.cell-10 .cta-link {
	color: var(--color-secondary-1);
}

.cell-11 {
	background: var(--color-primary-1);
}

.cell-11 .cta-link {
	color: var(--color-secondary-2);
}

.cell-12 {
	background: var(--color-primary-2);
}

.no-spacing {
	margin: 0;
	padding: 0;
}