html {
  width: var(--base-width);
  height: var(--base-height);
  font: var(--font-regular) var(--font-normal) var(--font-base) var(--font-primary);
}

h1,
h2,
h3,
p {
	margin: 0;
	margin-block: 0;
}

h1.primary {
  font: var(--font-regular) var(--font-bold) var(--font-heading-1) var(--font-primary);
}

h2.primary {
  font: var(--font-regular) var(--font-semi-bold) var(--font-heading-2) var(--font-primary);
}

h3.primary {
  font: var(--font-regular) var(--font-normal) var(--font-heading-3) var(--font-primary);
}

p.primary,
span.primary {
  font: var(--font-regular) var(--font-normal) var(--font-paragraph) var(--font-primary);
}

em.primary {
  font: var(--font-italic) var(--font-normal) var(--font-paragraph) var(--font-primary);
}

h1.secondary {
  font: var(--font-regular) var(--font-bold) var(--font-heading-1) var(--font-secondary);
}

h2.secondary {
  font: var(--font-regular) var(--font-medium) var(--font-heading-2) var(--font-secondary);
}

h3.secondary {
  font: var(--font-regular) var(--font-normal) var(--font-heading-3) var(--font-secondary);
}

p.secondary,
span.secondary {
  font: var(--font-regular) var(--font-normal) var(--font-paragraph) var(--font-secondary);
}

.container {
  position: relative;
  width: 100%;
  height: var(--base-height);
  border: var(--border);
}

.container * {
  box-sizing: border-box;
}

[class^="grid-rectangles"],
[class^="grid-content"] {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

[class$="-type-1"] {
  grid-template: var(--grid-container-type-1);
}

[class$="-type-2"] {
  grid-template: var(--grid-container-type-2);
}

[class$="-type-3"] {
  grid-template: var(--grid-container-type-3);
}

.information-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: var(--spacing-normal);
	padding-block: var(--spacing-normal);
	padding-inline: var(--spacing-normal);
}

.information {
	width: 75%;
	margin: 0 0 var(--spacing-small) 0;
	margin-block: 0 var(--spacing-small);
	text-align: right;
}

.information:last-of-type {
	margin-bottom: 0;
	margin-block-end: 0;
}

.skills-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 var(--spacing-normal);
	padding-block: 0;
	padding-inline: var(--spacing-normal);
}

.languages-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 var(--spacing-normal);
	padding-block: 0;
	padding-inline: var(--spacing-normal);
}

.language {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100% - (2 * var(--spacing-extra-large)));
	margin: 0 var(--spacing-extra-large) var(--spacing-small) var(--spacing-extra-large);
	margin-block: 0 var(--spacing-small);
	margin-inline: var(--spacing-extra-large);
}

.language:last-of-type {
	margin-bottom: 0;
	margin-block-end: 0;
}

.language-name,
.language-expertise {
	width: 50%;
}

.language-expertise {
	text-align: center;
}

.education-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: var(--spacing-normal);
	padding-block: var(--spacing-normal);
	padding-inline: var(--spacing-normal);
}

.education {
	width: calc(100% - (2 * var(--spacing-normal)));
	margin: 0 0 var(--spacing-small) 0;
	margin-block: 0 var(--spacing-small);
}

.education:last-of-type {
	margin-bottom: 0;
	margin-block-end: 0;
}

.excerpt-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 var(--spacing-normal);
	padding-inline: var(--spacing-normal);
}

.excerpt {
	margin: 0 0 var(--spacing-small) 0;
	margin-block: 0 var(--spacing-small);
}

.excerpt:last-of-type {
	margin-bottom: 0;
	margin-block-end: 0;
}

.name-container {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.name {
	width: 50%;
}

.courses-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: var(--spacing-normal);
	padding-block: var(--spacing-normal);
	padding-inline: var(--spacing-normal);
	text-align: center;
}

.course {
	width: 75%;
	text-align: center;
	margin: 0 0 var(--spacing-small) 0;
	margin-block: 0 var(--spacing-small);
}

.course:last-of-type {
	margin-bottom: 0;
	margin-block-end: 0;
}

.jobs-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: var(--spacing-small) 0;
	padding-block: var(--spacing-small);
}

.job {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 75%;
	margin: 0 0 var(--spacing-normal) 0;
	margin-block: 0 var(--spacing-normal);
}

.job:last-of-type {
	margin-bottom: 0;
	margin-block-end: 0;
}

.job-name,
.job-position {
	margin: 0 0 var(--spacing-normal) 0;
	margin-block: 0 var(--spacing-normal);
}