// File: Spacing
// Author: Marco Maza
// Version: 1.0.0
// License: MIT

// Variables
$margin-quarter: $margin * 0.25;
$margin-half: $margin * 0.5;
$margin-normal: $margin * 1;
$margin-double: $margin * 2;
$margin-super: $margin * 4;

$padding-quarter: $padding * 0.25;
$padding-half: $padding * 0.5;
$padding-normal: $padding * 1;
$padding-double: $padding * 2;
$padding-super: $padding * 4;
