<header>
	<nav>
		<a href="/">Home</a>
		<a href="/about">About</a>
	</nav>
</header>
<main>
	<h1>Marco Maza</h1>
	<section>
		<h2>Centered Div</h2>
	</section>
	<section>
		<h2>Design Is My Passion</h2>
	</section>
	<section>
		<h2>Sauté</h2>
	</section>
	<section>
		<h2>Middle C</h2>
	</section>
</main>
<footer>
	<p>Footer</p>
</footer>
