// File: Buttons
// Author: Marco Maza
// Version: 1.0.0
// License: MIT

@mixin createButtons($primary, $secondary) {
  .button {
    &.primary {
      background: $primary;
      color: $secondary;
      transition: 0.25s all ease-in-out;
      &:hover,
      &:focus {
        background: $primary;
        color: $secondary;
      }
    }
    &.secondary {
      background: $secondary;
      color: $primary;
      transition: 0.25s all ease-in-out;
      &:hover,
      &:focus {
        background: $secondary;
        color: $primary;
      }
    }
  }
}
@include createButtons($primary, $secondary);
