// File: Links
// Author: Marco Maza
// Version: 1.0.0
// License: MIT

@mixin createLinks($primary, $secondary, $tertiary) {
  .link {
    &.primary {
      color: $primary;
      transition: 0.25s all ease-in-out;
      &:hover,
      &:focus {
        color: $secondary;
      }
      &:visited {
        color: $tertiary;
        transition: 0.25s all ease-in-out;
        &:hover {
          color: $secondary;
        }
      }
    }
    &.secondary {
      color: $secondary;
      transition: 0.25s all ease-in-out;
      &:hover,
      &:focus {
        color: $primary;
      }
      &:visited {
        color: $tertiary;
        transition: 0.25s all ease-in-out;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
@include createLinks($primary, $secondary, $tertiary);
