// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
  header {
    nav {
      ul {
        margin-top: calc(2 * (#{$margin} + #{map-get($fonts, font-h1)}));
        margin-left: calc(2 * #{$margin});
        li {
          display: inline-block;
          width: calc(50% - #{$margin});
          text-align: center;
          &:last-of-type {
            width: calc(100% - #{$margin} - #{map-get($fonts, font-h1)});
          }
        }
      }
    }
  }
}

// Some IPads have bigger resolution than 1024px in portrait, hence this hack
@media (orientation: portrait) and (min-width: 992px) {
  $margin: 40px;
  $padding: 40px;
  $position: 40px;

  header {
    padding: $padding 0;
    h1 {
      width: calc(80% - #{$margin});
      margin-left: $margin;
    }
    #menu-open {
      width: calc(20% - #{$margin});
      margin-right: $margin;
    }
    nav {
      #menu-close {
        top: $position;
        right: $position;
      }
      ul {
        margin-top: calc(2 * (#{$margin} + #{map-get($fonts, font-h1)}));
        margin-left: calc(2 * (#{$margin} + #{map-get($fonts, font-h1)}));
        li {
          text-align: left;
          width: calc(100% - #{$margin} - #{map-get($fonts, font-h1)});
          margin-top: calc(2 * #{$margin});
          &:last-of-type {
            width: calc(100% - #{$margin} - #{map-get($fonts, font-h1)});
          }
          button {
            width: calc(75% - #{$margin} - #{map-get($fonts, font-h1)});
          }
        }
      }
    }
    nav.close {
      display: none;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  header {
    position: relative;
    padding: $padding 0;
    h1 {
      width: calc(20% - #{$margin});
      margin-left: $margin;
    }
    #menu-open {
      display: none;
    }
    nav {
      position: initial;
      background: transparent;
      #menu-close {
        display: none;
      }
      ul {
        display: inline;
        list-style: none;
        margin-left: 0;
        li {
          margin-top: 0;
          width: calc(16% - #{$margin});
          &:last-of-type {
            width: calc(16% - #{$margin});
          }
          a,
          button {
            font-size: map-get($fonts, font-base);
          }
          button {
            width: 100%;
          }
        }
      }
    }
    nav.close {
      display: initial;
    }
  }
  main {
    margin-top: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: calc(50vh - #{map-get($fonts, font-h1)} - (2 * #{$margin}) + (4 * #{map-get($fonts, font-base)})) calc(50vh - #{map-get($fonts, font-h1)} - (2 * #{$margin}) + (4 * #{map-get($fonts, font-base)}));
  }
  .menu {
    display: none;
  }
  .about {
    padding: $padding;
    margin: 0;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 30% 35% 35%;
    p {
      grid-column: 1 / 3;
      margin-left: $margin;
      &:first-of-type,
      &:last-of-type {
        margin: 0;
      }
    }
  }
  .work {
    background: map-deep-get($shades, white-shades, white-shade-2);
    padding: $padding;
    margin: 0;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 80%;
    h1 {
      grid-column: 1 / 5;
    }
    & > * {
      &:first-of-type:not(h1),
      &:last-of-type:not(h1) {
        margin: 0;
        margin-right: $margin;
      }
      a {
        display: inline;
      }
      img {
        height: 130px;
        margin: $margin 0;

      }
      p,
      a:last-of-type {
        display: none;
      }
    }
  }
  .knowledge {
    background: map-deep-get($shades, white-shades, white-shade-2);
    padding: $padding;
    margin: 0;
    span {
      display: inline-block;
      margin: calc(#{$margin} / 2) 0;
      margin-right: calc(#{$margin} / 4);
      padding: $padding;
      background: rgba(map-get($colors, white), 0.8);
    }
  }
  .contact {
    background: transparent;
    padding: $padding;
    margin: 0;
    h1 {
      margin-bottom: $margin;
    }
    p {
      margin: $margin 0;
    }
    button {
      display: block;
      margin: 0;
      margin-left: calc(100% - 96px - #{$margin});
      margin-top: calc(2 * #{$margin});
    }
  }
  footer {
    position: absolute;
    bottom: calc(0px + (2 * #{map-get($fonts, font-base)}));
    left: calc(50% - #{$margin});
    text-align: left;
  }
}
