// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)

// Some IPhones have smaller resolution than 576px, hence this hack
@media (orientation: landscape) and (max-width: 575px),
(min-width: 576px) {
  header {
    nav {
      ul {
        margin-top: calc(#{$margin} + #{map-get($fonts, font-h1)});
        margin-left: calc(2 * #{$margin});
        li {
          display: inline-block;
          width: calc(50% - #{$margin});
          text-align: center;
          &:last-of-type {
            width: calc(100% - #{$margin} - #{map-get($fonts, font-h1)});
          }
        }
      }
    }
  }
}
